<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To Do Lists</title>
    </head>
    <body>
        <header>
            <h1>{{todolist.name}}</h1>
            <nav>
                <a href="{% url 'todos_delete' todolist.id %}">Delete a List</a>
                <a href="{% url 'todos_edit' todolist.id %}">Edit a list</a>
            </nav>
        </header>
        <main>
            {% for y in todolist.items.all %}
            <a href="{% url 'item_update' y.id %}">{{ y.task }}
            {% endfor %}
        </main>
    </body>
</html>