<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To Do Lists</title>
    </head>
    <body>
        <header>
            <h1>To Do Lists</h1>
            <nav>
                <a href="{% url 'todos_create' %}">Create a List</a>
                <a href="{% url 'item_create' %}">Create an Item</a>
            </nav>
        </header>
        <main>
            {% for x in object_list %}
            <a href="{% url 'todos_detail' x.pk %}">{{ x.name }}</a>
            {% endfor %}
        </main>
    </body>
</html>