<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To Do Lists</title>
    </head>
    <body>
        <header>
            <h1>Create Item</h1>
        </header>
        <main>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button>Create</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>